= simple_form_for(@hotel, :html => {:multipart => true} ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :breakfast_included
    = f.input :room_description
    = f.input :photo
    = f.input :price_for_room
    = f.input :address

  .form-actions
    = f.button :submit
