!!!
%html
  %head
    %title HotelAdvisor
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - content_for :javascript_includes do 
      = javascript_include_tag 'jquery.raty.js','letsrate.js'
  %body
    = render "layouts/navbar"
    .container.main
      = render "layouts/flash"
      = yield
    = yield :javascript_includes